.hljs {
    --keyword-color: #569cd6;
    --built_in-color: #b6e4ff;
    --preprocessor-color: #3d7bad;
    --literal-color: #ccc;
    --special-literal-color: #ddd;
    --comment-color: #57a64a;
    --doctag-color: #608b4e;
    --key-color: #9cdcfe;
    --section-color: #d7ba7d;
    --diff-add-color: #28ab23;
    --diff-rem-color: rgb(224, 29, 29);
}

@media(prefers-color-scheme: light) {
    .hljs {
        --keyword-color: #0c528b;
        --built_in-color: #344148;
        --preprocessor-color: #1d4668;
        --literal-color: #565656;
        --special-literal-color: #494141;
        --comment-color: #34712a;
        --doctag-color: #608b4e;
        --key-color: #1c648b;
        --section-color: #664c14;
        --diff-add-color: #144212;
        --diff-rem-color: #600;
    }
}

.hljs {
}

.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-symbol,
.hljs-type {
    color: var(--keyword-color);
}

.hljs-built_in {
    color: var(--built_in-color);
}

.hljs-link {
    color: var(--keyword-color);
    text-decoration: underline;
}

.hljs-number,
.hljs-string,
.hljs-meta-string {
    color: var(--literal-color);
}

.hljs-subst,
.hljs-regexp,
.hljs-template-tag {
    color: var(--special-literal-color);
}

.hljs-comment {
    color: var(--comment-color);
    font-style: italic;
}

.hljs-doctag {
    color: var(--doctag-color);
}

.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
    color: var(--preprocessor-color);
}

.hljs-attr,
.hljs-attribute,
.hljs-builtin-name {
    color: var(--key-color);
}

.hljs-section {
    color: var(--section-color);
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

.hljs-bullet,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-selector-tag {
    color: var(--section-color);
}

.hljs-addition {
    background-color: var(--diff-add-color);
    display: inline-block;
    width: 100%
}

.hljs-deletion {
    background-color: var(--diff-rem-color);
    display: inline-block;
    width: 100%
}