<!DOCTYPE html>
	<head>
		@await RenderSection("header")
		@await RenderSection("header")
		@await RenderSection("header")
	</head>
	<body>
		@await RenderBody()
		@await RenderSection("blar")
		@await RenderSection("blardsfd")
	</body>
</html>