:root {
    --body-background-color: #1e1e1e;
    --body-text-color: #B6B6B6;
    --body-dim-color: #808080;
    --body-code-color: #dcdcdc;

    --hyperlink-color: #516cae;
    --hyperlink-hover-color: #85a3ef;

    --panel-background-color: #0f0f0f;
    --panel-text-color: #dcdcdc;
    --panel-dim-color: #808080;

    --alert-error-color: #F32;
    --alert-warning-color: #D81;

    --tag-background-color: #516cae;
    --tag-text-color: #1e1e1e;
    --tag-background-hover-color: #85a3ef;
    --tag-text-hover-color: #3d3d3d;
}

@media(prefers-color-scheme: light) {
    :root {
        --body-background-color: #efefef;
        --body-text-color: #222;
        --body-dim-color: #555;
        --body-code-color: #000;

        --hyperlink-color: #2f4c93;
        --hyperlink-hover-color: #5c78bc;

        --panel-background-color: #dcdcdc;
        --panel-text-color: #111;
        --panel-dim-color: #444;

        --alert-error-color: #df1300;
        --alert-warning-color: #ba6e12;

        --tag-background-color: #516cae;
        --tag-text-color: #ddd;
        --tag-background-hover-color: #85a3ef;
        --tag-text-hover-color: #eee;
    }
}

body {
    font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif;
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

body>.content {
    flex-grow: 1;
}

/* Header nonsense */

.header {
    background-image: url("/assets/img/header.webp");
    background-size: cover;
    background-position: bottom;

    border-bottom: 1px solid #3d3d3d;
    height: clamp(100pt, 25vw, 256pt);
    z-index: 999;

    display: grid;
    width: 100%;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    grid-template-rows: 1fr max-content;
    align-content: center;
}
.header .title {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d0d0d0;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header .site-title {
    font-family: Georgia, Verdana, arial, sans-serif;
    font-weight: bold;
    font-size: clamp(8pt, 10vw, 64pt);
    margin: 0px;
}
.header .site-subtitle {
    font-family: Georgia, Verdana, arial, sans-serif;
    font-size: clamp(5.5pt, 2.25vw, 18pt);
    margin: 0px;
    color: #B0B0B0;
}
.header .links-bg {
    grid-row: 2;
    grid-column: 1 / 4;
    background: linear-gradient(transparent, #0004 2px)
}
.header .links {
    grid-row: 2;
    grid-column: 2;
    padding: 0;

    font-size: clamp(24pt, 2vw, 32pt);
}

.header .links a {
    color: #808080;
    font-weight: bold;
    padding: 0 16px;
    text-decoration: none;
}
.header .links a:hover {
    color: #B8B6B6;
    background: linear-gradient(transparent 16px, #0006);
    border-radius: 0 0 4px 4px;
}

@media(prefers-color-scheme: light) {
    .header {
        border-bottom-color: #fff;
    }
    .header .links-bg {
        background: linear-gradient(transparent, #8884 2px, #8ac4 75%, #eef8 100%)
    }

    .header .links a {
        color: #ddd;
    }
    .header .links a:hover {
        color: #eee;
        background: linear-gradient(transparent 16px, #bbb6);
        border-radius: 0 0 4px 4px;
    }
}

/* Footer nonsense */

div.footer {
    background-color: var(--panel-background-color);
    color: var(--panel-dim-color);

    display: grid;
    width: 100%;

    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    grid-template-rows: max-content;
    align-content: center;

    border-top: 1px solid #3d3d3d;
}

div.footer>div {
    grid-column: 2;
    margin: 10px auto 10px auto;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content;

    font-size: smaller;
}

div.footer>div>.scroll-to-top {
    color: inherit;

    border: none;
    outline: none;
    background: transparent;

    cursor: pointer;

    grid-column: 1;
    grid-row: 1 / 4;
    margin: auto 8px auto 0;
}

div.footer>div>.scroll-to-top svg {
    height: 2.5em;
}

div.footer>div>p {
    margin: 0;
    align-content: center;
    grid-column: 2;
}

/* Body */

.content {
    width: min(100%, 1200px);
    padding: 0 clamp(8px, 2vw, 16px);
    box-sizing: border-box;
    overflow-wrap: anywhere;
}

.content h1 {
    font-size: 28pt;
}

.content h2 {
    font-size: 24pt;
}

.content h3 {
    font-size: 20pt;
}

.content h4 {
    font-size: 16pt;
}

a {
    color: var(--hyperlink-color);
    text-decoration: none;
}
a:hover {
    color: var(--hyperlink-hover-color);
}

#site_container {
    padding-top: 1.1rem;
}
#page_container {
    padding-top: 1.1rem;
}

.alignright {
    display: block;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}
.aligncenter {
    display: block;
    margin: 4px auto 0 auto;
}
.caption-text {
    font-size: smaller;
}
.caption-box {
    padding: 0;
    display: table;
    background: var(--panel-background-color);
}
.caption-box > :not(:first-child) {
    display: table-caption;
    caption-side: bottom;
    font-size: smaller;
    padding: 8px;
}
.caption-box img {
    max-width: 40vw;
    height: auto;
}
.caption-box.aligncenter img {
    max-width: 100%;
}

.alert {
    border-radius: 8px;
    background-color: var(--panel-background-color);
    border-color: var(--panel-text-color);
    border-width: 1px;
    border-style: solid;
    margin: 1em 0;
    padding: 1em;
}
.alert-error {
    border-color: var(--alert-error-color);
}
.alert-warning {
    border-color: var(--alert-warning-color);
}

div.alert > p:first-child {
    margin-top: 0;
}
div.alert > p:last-child {
    margin-bottom: 0;
}
div.alert > p:has(+.date) {
    margin-bottom: 0;
}

.editors-note .date {
    color: var(--panel-dim-color);
    font-size: 0.8rem;
    text-wrap: nowrap;
}

code {
    font-family: Consolas, 'Courier New', monospace;
    color: var(--body-code-color);
    tab-size: 4;
}
code:not(pre*) {
    background: var(--panel-background-color);
    border-radius: 4px;
}

pre:has(code), div.math, blockquote {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    background: var(--panel-background-color);
    border-radius: 8px;
    color: var(--panel-text-color);
    padding: 1em;
}

blockquote > p:first-child {
    margin-top: 0;
}
blockquote > p:last-child {
    margin-bottom: 0;
}

div.sketch:has(canvas) {
    display: block;
    background: var(--panel-background-color);
    border-radius: 8px;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1.5;
}

div.sketch canvas {
    width: 100%;
    height: 100%;
}

.badge {
    border-radius: 4px;
    padding: 2px 6px;
    line-height: 1.75em;
    font-weight: bold;
}

/* posts */

#posts-root {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
}

#posts-history {
    grid-column: 1;
}

.post-list h2 {
    margin: 16px 0 0;
}

.post-list h3 {
    margin: 8px 0 0;
}

.post-list .post-with-excerpt {
    margin: 12px 0;
}

.post-with-excerpt h4 {
    margin: 8px 0 4px;
}
.post-with-excerpt h4:has(+div.post-update-date) {
    margin-bottom: 0px;
}

.post-with-excerpt p:first-of-type {
    margin-top: 4px;
}
.post-with-excerpt p:has(+a.read-more) {
    margin-bottom: 4px;
}

.post-list .post-no-excerpt {
    margin: 8px 0;
}

.post-title {
    margin: 8pt 0 0;
}
.post-date {
    display: inline;
    color: var(--body-dim-color);
    font-size: 1rem;
    text-wrap: nowrap;
}
.post-update-date{
    display: inline;
    color: var(--body-dim-color);
    text-wrap: nowrap;
}
.post-with-excerpt .post-update-date {
    display: block;
    font-size: 0.75rem;
}

.post-tags {
    margin: 8px 0;
}

.post-tag {
    background-color: var(--tag-background-color);
    color: var(--tag-text-color);
}
a.badge.post-tag:hover {
    background-color: var(--tag-background-hover-color);
    color: var(--tag-text-hover-color);
}

#posts-tags {
    grid-column: 2;
    margin-left: 24px;
}

#posts-tags a {
    display: block;
}

@media(max-width: 800px) {
    #posts-root {
        grid-template-columns: 1fr;
    }

    #posts-tags {
        grid-column: 1;
        grid-row: 2;
        margin-left: 0;
    }

    #posts-tags a {
        display: inline;
        margin: 0 8px;
        white-space: nowrap;
    }
}