@model MarkdownPage

@{
	var frontMatter = (PostFrontMatter)Model.FrontMatter;
	var date = frontMatter.Date;
	var lastUpdated = frontMatter.LastUpdated;
}

<div class="post-no-excerpt">
	<a href="@UrlTo(Model)">
	@frontMatter.Title
	<div class="post-date">@date.ToString("dd MMM yyyy")</div>
	@if (lastUpdated > date)
	{
		<div class="post-update-date">(Updated: @lastUpdated.ToString("dd MMM yyyy"))</div>
	}
	</a>
</div>