@page

@enumerate IGrouping<string, PostContent> Series
{
	Items = Project.Content.GetPosts().BySeries();
	OutputPath = t => Posts.SeriesPath(t.Key);
}

@initialize
{
	Title = Series.SeriesTitle();
}

@SuppressBlurb()

<h1>@Series.SeriesTitle()</h1>

<div class="post-list">
	@foreach (var post in Series.Reverse())
	{
		@await RenderPartial("_listitemwithexcerpt.cshtml", post.Page)
	}
</div>

@if (Series.Key == "HenchLua")
{
	<div class="caption-box aligncenter henchies">
		<img class="henchie" src="/assets/img/henchies/guv.webp" />
		<img class="henchie" src="/assets/img/henchies/servo.webp" />
		<img class="henchie" src="/assets/img/henchies/train.webp" />
		<img class="henchie" src="/assets/img/henchies/tools.webp" />
	</div>
}