@page

@enumerate IGrouping<string, PostContent> Series
{
	Items = Project.Content.GetPosts().BySeries();
	OutputPath = t => Posts.SeriesPath(t.Key);
}

@initialize
{
	Title = Series.SeriesTitle();
}

@SuppressBlurb()

<h1>@Series.SeriesTitle()</h1>

<div class="post-list">
	@foreach (var post in Series.Reverse())
	{
		@await RenderPartial("_listitemwithexcerpt.cshtml", post.Page)
	}
</div>