@page

@enumerate IGrouping<string, (MarkdownPage Page, PostFrontMatter FrontMatter)> Tag
{
	Items = Project.Content.GetPosts().ByTag();
	OutputPath = t => Posts.TagPath(t.Key);
}

@initialize
{
	Title = "Posts: " + Tag.Key;
}

@{
	var count = 0;
}
<div class="post-list">
	@foreach (var post in Tag)
	{
		@await RenderPartial(
			++count <= Posts.ExcerptsPerListing ?
				"_listitemwithexcerpt.cshtml" :
				"_listitem.cshtml",
			post.Page)
	}
</div>