@page

@enumerate IGrouping<string, PostContent> Tag
{
	Items = Project.Content.GetPosts().ByTag();
	OutputPath = t => Posts.TagPath(t.Key);
}

@initialize
{
	Title = "Posts: " + Tag.Key;
}

@SuppressBlurb()

<h1>Posts tagged: <em>@Tag.Key</em></h1>

<div class="post-list">
	@{ var count = 0; }
	@foreach (var post in Tag)
	{
		@await RenderPartial(
			++count <= Posts.ExcerptsPerListing ?
				"_listitemwithexcerpt.cshtml" :
				"_listitem.cshtml",
			post.Page)
	}
</div>